body {
    background-color: #f9f9f9;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.brightness {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.contrast {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
}

.saturate {
    -webkit-filter: saturate(2);
    filter: saturate(2);
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}
.blur{
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

/* Outros estilos */

.cropArea {
    background: #f5f5f5;
    overflow: hidden;
    width: 100%;
    height: 540px;
    border: 1px dashed #0b97c4;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-footer p {
    margin-top: 15px !important;
    margin-bottom: 13px !important;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 30px 0 -30px 20px;
}

.likes,
.dislikes {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}
